PORT=3000
# Para backend ejecutado localmente con nodemon:
MONGO_URI=mongodb+srv://AdminBD:prueba123@cluster0.f0g5svf.mongodb.net/?appName=Cluster0
# Para backend dentro de Docker Compose usar: mongodb://mongo:27017/taskflow
# Para Atlas usar: mongodb+srv://usuario:password@cluster.mongodb.net/taskflow?retryWrites=true&w=majority
JWT_SECRET=taskflow_super_secret_jwt_key_2024
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:5000
NODE_ENV=development
